@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));
@layer theme, base, components, utilities;

@theme inline {
  --color-dn-background-200: var(--dn-background-200);
  --color-dn-background-100: var(--dn-background-100);
  --color-dn-foreground-100: oklch(from var(--dn-foreground-200) l c h / 70%);
  --color-dn-foreground-200: var(--dn-foreground-200);
  --color-dn-border-100: oklch(from var(--dn-foreground-200) l c h / 20%);
  --color-dn-border-200: oklch(from var(--dn-foreground-200) l c h / 8%);
  --color-dn-primary-200: var(--dn-primary-200);
  --color-dn-accent-100: var(--dn-accent-100);
  --color-dn-accent-200: var(--dn-accent-200);

  --font-ibm-plex-sans: var(--font-ibm-plex-sans);
  --font-jetBrains: var(--font-jetBrains-mono);
  --font-geist: var(--font-geist);
  --font-geist_mono: var(--font-geist_mono);
}

@layer theme {
  ::selection {
    color: var(--color-dn-background-200);
    background-color: var(--dn-foreground-200);
  }

  :root {
    @apply scheme-light;
    --dn-background-100: oklch(94.01% 0 0);
    --dn-background-200: oklch(99.4% 0 24.04);
    --dn-foreground-200: oklch(0% 0 0);
  }

  .dark {
    @apply scheme-dark;
    --dn-background-100: oklch(22.97% 0.0015 197.05);
    --dn-background-200: oklch(13% 0.002 246.26);
    --dn-foreground-200: oklch(96.75% 0.0168 270);
  }

  [accent-color="blue"] {
    --dn-primary-200: oklch(65.04% 0.2067 251.63);
    --dn-accent-200: oklch(65.04% 0.2067 251.63);
  }

  .dark .shiki,
  .dark .shiki span {
    color: var(--shiki-dark) !important;
  }
}

@layer utilities {
  .prose {
    --tw-prose-body: var(--dn-foreground-200);
    --tw-prose-headings: var(--dn-foreground-200);
    --tw-prose-lead: var(--dn-foreground-200);
    --tw-prose-links: var(--dn-foreground-200);
    --tw-prose-counters: var(--dn-foreground-200);
    --tw-prose-bullets: var(--dn-foreground-200);
    --tw-prose-quotes: var(--dn-foreground-200);
    --tw-prose-quote-borders: var(--dn-foreground-200);
    --tw-prose-captions: var(--dn-foreground-200);
    --tw-prose-th-borders: var(--dn-foreground-200);
    --tw-prose-td-borders: var(--dn-foreground-200);
    --tw-prose-pre-code: var(--dn-foreground-200);
    --tw-prose-code: var(--dn-foreground-200);
    --tw-prose-pre-bg: transparent;
    --tw-prose-bold: currentcolor;
  }
}

@layer components {
  .mask-icon {
    @apply bg-current text-inherit inline-block mask-no-repeat;
    mask: var(--svg-icon) no-repeat;
  }

  .nix-icon {
    --svg-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m7.352 1.592-1.364.002L5.32 2.75l1.557 2.713-3.137-.008-1.32 2.34h11.69l-1.353-2.332-3.192-.006-2.214-3.865zm6.175 0-2.687.025 5.846 10.127 1.341-2.34-1.59-2.765 2.24-3.85-.683-1.182h-1.336l-1.57 2.705-1.56-2.72zm6.887 4.195-5.846 10.125 2.696-.008 1.601-2.76 4.453.016.682-1.183-.666-1.157-3.13-.008L21.778 8.1l-1.365-2.313zM9.432 8.086l-2.696.008-1.601 2.76-4.453-.016L0 12.02l.666 1.157 3.13.008-1.575 2.71 1.365 2.315zM7.33 12.25l-.006.01-.002-.004-1.342 2.34 1.59 2.765-2.24 3.85.684 1.182H7.35l.004-.006h.001l1.567-2.698 1.558 2.72 2.688-.026-.004-.006h.01zm2.55 3.93 1.354 2.332 3.192.006 2.215 3.865 1.363-.002.668-1.156-1.557-2.713 3.137.008 1.32-2.34z"/></svg>');
  }
  .bash-icon {
    --svg-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M13.655 3.56 8.918.75a1.79 1.79 0 0 0-1.82 0L2.363 3.56a1.89 1.89 0 0 0-.921 1.628v5.624a1.89 1.89 0 0 0 .913 1.627l4.736 2.812a1.79 1.79 0 0 0 1.82 0l4.736-2.812a1.89 1.89 0 0 0 .913-1.627V5.188a1.89 1.89 0 0 0-.904-1.627zm-3.669 8.781v.404a.15.15 0 0 1-.07.124l-.239.137c-.038.02-.07 0-.07-.053v-.396a.78.78 0 0 1-.545.053.07.07 0 0 1-.027-.09l.086-.365a.15.15 0 0 1 .071-.096.05.05 0 0 1 .038 0 .66.66 0 0 0 .497-.063.66.66 0 0 0 .37-.567c0-.206-.112-.292-.384-.293-.344 0-.661-.066-.67-.574A1.47 1.47 0 0 1 9.6 9.437V9.03a.15.15 0 0 1 .07-.126l.231-.147c.038-.02.07 0 .07.054v.409a.75.75 0 0 1 .453-.055.073.073 0 0 1 .03.095l-.081.362a.16.16 0 0 1-.065.09.06.06 0 0 1-.035 0 .6.6 0 0 0-.436.072.55.55 0 0 0-.331.486c0 .185.098.242.425.248.438 0 .627.199.632.639a1.57 1.57 0 0 1-.576 1.185zm2.481-.68a.1.1 0 0 1-.036.092l-1.198.727a.034.034 0 0 1-.04.003.04.04 0 0 1-.016-.037v-.31a.09.09 0 0 1 .055-.076l1.179-.706a.035.035 0 0 1 .056.035v.273zm.827-6.914L8.812 7.515c-.559.331-.97.693-.97 1.367v5.52c0 .404.165.662.413.741a1.5 1.5 0 0 1-.248.025c-.264 0-.522-.072-.748-.207L2.522 12.15a1.56 1.56 0 0 1-.75-1.338V5.188a1.56 1.56 0 0 1 .75-1.34l4.738-2.81a1.46 1.46 0 0 1 1.489 0l4.736 2.812a1.55 1.55 0 0 1 .728 1.083c-.154-.334-.508-.427-.92-.185h.002z"/></svg>');
  }
  .toml-icon {
    --svg-icon: url('data:image/svg+xml;utf8,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M22.76 6.83v3.25h-5v15.09h-3.5V10.08h-5V6.83ZM2 2h6.2v3.09H5.34v21.8H8.2V30H2Zm28 28h-6.2v-3.09h2.86V5.11H23.8V2H30Z"/></svg>');
  }
}
