@layer components {
  .code-container code {
    display: block;
    counter-reset: line 0;
    counter-increment: line 0;

    & :global(.line)::before {
      display: inline-block;
      width: 1em;
      margin-right: 1.5em;
      color: color-mix(in oklab, currentColor 40%, transparent);
      content: counter(line);
      counter-increment: line;
    }
  }
}
